.graph {
  background-color: rgba(204, 190, 178, 0.8);
  margin: auto;
  padding: 5rem 2rem 5rem 2rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.graph h1 {
  text-align: center;
  color: sandybrown;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.graph p {
  width: 50%;
  text-align: center;
  color: #6b2f02;
  font-size: 20px;
  margin-bottom: 1rem;
}

.graph .search-bar {
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 20px;
  width: 350px;
}

.graph .main-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}









